.container
  .row
    .col-sm-10
      h1.title About Me
    .col-sm-4
      img.img-responsive.me(src="/img/mepic.png")
    .col-sm-6.col-sm-offset-1
      h2 I'm a ...
      h2 Computer Science Major
      h2 Second Year @ Northeastern University
      h2 
        | Organizer @ 
        | <a href="http://www.hackbeanpot.com">HackBeanpot, Inc</a>
      h2
        | E-Board Member for
        | <a href="http://www.ccs.neu.edu/groups/CISters/">NuWiT</a>
      h2
        | Active member of 
        | <a href="http://hacks.io/">Hacks</a>
        | and
        | <a href="http://acm.ccs.neu.edu/">NuACM</a>
      h2 fan of special effects makeup
      h2 Mountain View, CA resident
      h2 <a href="http://www.github.com/aalder">GitHub</a> user

