section.mainslide.big
  .container.child
    .row
      .col-xs-48
        img.img-responsive.heart(src="/img/heart1.png")
      .col-xs-12
        h1.name Allison Alder
        h3 
          | Computer Science major @ 
          | <a href="http://www.ccs.neu.edu/">Northeastern University</a>
section.aboutme
  include _aboutme.jade
section.bottomBar
  .container
    .row
      .col-sm-10.col-sm-offset-1
        h1.ital More to come!
        h3
          | This site is not yet complete! Check out some of the links above 
          | while I figure out what color to use for the rest of the site. 
